<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>学校登録</h2>
<form th:action="@{/schools/{schoolId}/department/{departmentId}/edit(schoolId = ${schoolId},departmentId = ${departmentId})}" th:object="${department}" method="post">
    <div>
        <label for="department-name">学科名</label>
        <input type="text" id="department-name" name="department-name" th:field="*{departmentName}">
    </div>
    <div>
        <label for="years">年数</label>
        <input type="text" id="years" name="years" th:field="*{years}">
    </div>
    <button type="submit">追加</button>
</form>
</body>
</html>